.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSoXKnJRcFe8mfBzqrxLrYJTtXRwzP1_z4LUg&usqp=CAU');
  background-size: cover;
}

li {
  margin: 10px;
}
